/*---- шрифты ------*/
@font-face {
    font-family: "Galien"; 
    src: url("../fonts/Galien/Galien-Bold.eot"); 
    src: local('Galien Bold'), local('Galien-Bold'),
    url("../fonts/Galien/Galien-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Galien/Galien-Bold.woff") format("woff"), 
    url("../fonts/Galien/Galien-Bold.ttf") format("truetype"); 
    font-weight: 700; 
    font-style: normal;   
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/* --------------------------------------------------------------------- */

body{
    font-family: 'Gilroy';
    font-size: 16px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

[class*="__container"] {
    max-width: 970px;
    margin: 0px auto;
    padding: 0px 15px;
}
/*--- PC--- */
@media (max-width: 1087px){
    [class*="__container"]{
        max-width: 970px;
    }
}
/*--- TABLET--- */
@media (max-width: 991.98px){
    [class*="__container"]{
        max-width: 760px;
    }
}
/*--- MOBILE--- */
@media (max-width: 767.98px){
    [class*="__container"]{
        max-width: none;
    }
}

/* ------------------шапка--------------------------- */
.header{
    width: 100%;
    display: flex;
    align-items:center;
    position: sticky;
    height: 130px;
    z-index: 30;
    background: #FFFFFF;
    top: -60px;
}
.header__case {
    width: 1196px;
    height: 70px;
    position: sticky;
    top: 0;
    margin: 0px auto;
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
.menu__btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:3;
	overflow: hidden;
    cursor: pointer;
}
.menu__btn span {
	width: 24px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:#356EAD;
	transition: all 0.5s;
}
.menu__btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu__btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu__content{
	position: fixed;
	top: 0;
	right: 0;
	width: 33.33%;
	height: 100%;
	padding: 100px 0px 0px 50px;
    z-index:2;
    background: #5A98D0;
    border-radius: 50px 0px 0px 0px;
	transform: translateX(300%);
	transition: transform 0.5s; 
}
.menu__content.active {
	transform: translateX(0);
}
.menu__content li {
	list-style-type: none;
}
/* гамбургер иконка, когда меню открыто */
.menu__btn.active span:nth-of-type(1) {
    display: none;
}
.menu__btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
    background-color:#FFFFFF;
}
.menu__btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
    background-color:#FFFFFF;
}

.content{
    overflow: auto;
    scrollbar-width: none; /* firefox */
}
.content::-webkit-scrollbar { /* webkit */
    width: 0;
    height: 0;
}
.content__accordion{
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
    margin-bottom: 16px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.content__list{
    margin-bottom: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.content__item{
    margin-bottom: 16px;
}
.content__link{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.content__link:hover{
    color: #1F3F68;
}
.content__accordion:after {
    content: url('../img/arrow-open.svg'); 
    font-size: 13px;
    float: right;
    margin-left: 15px;
}
.content__accordion.active:after {
    content: url('../img/arrow-close.svg'); 
}

/*--- TABLET--- */
@media (max-width: 991.98px){
    .header{
        height: 130px;
        top: -60px;
    }
}
/*--- MOBILE--- */
@media (max-width: 767.98px){
    .header{
        height: 100px;
        top: -10px;
    }
    .header__case {
        height: 50px;
    }
    .menu__btn {
        width: 50px;
        height: 50px;
    }
}

/* ----------------main ---------------------*/
.main{
    flex: 1 1 auto;
}
.first-block{
    height: 635px;
    background: linear-gradient(0.57deg, #EAF3FA 0.43%, rgba(255, 255, 255, 0.51) 99.44%);
    margin-bottom: 180px;
}
.first-block__img{
    max-width: 1320px;
    margin: 0px auto;
    position: relative;
}
.first-block__image{
    position: absolute;
    top: 0;
    right: 0;
}
.first-block__container{
    padding-top: 56px;
}
.first-block__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.first-block__title{
    font-family: 'Galien';
    font-size: 64px;
    font-weight: 700; 
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: capitalize;

    max-width: 530px;
    margin-bottom: 32px;    
}
.first-block__text{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;

    max-width: 425px; 
    margin-bottom: 71px; 
}
.first-block__button{
    display: block;
    width: 230px;
    height: 56px;
    border-radius: 10px;
    padding: 15px 48px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.first-block__button:hover{
    background: #3b77ac;
    transition: 0.5s;
}

/*--- PC--- */
@media (max-width: 1157px){
    .first-block__image{
        top: 80px;
    }
}
/*--- TABLET--- */
@media (max-width: 991.98px){
    .first-block{
        margin-bottom: 100px;
        height: 500px;
    }        
    .first-block__image{
        width: 480px;
    }
    .first-block__container{
        padding-top: 0px;
        
    }
    .first-block__title{
        font-size: 56px;
        max-width: 480px;
        line-height: 64px;
    }
}
/*--- MOBILE--- */
@media (max-width: 767.98px){
    .first-block{
        margin-bottom: 60px;
        height: 735px;
    }
    .first-block__image{
        top: 280px;
    }
    .first-block__content{
        justify-content: center;
        align-items:center;
    }
    .first-block__title{
        text-align: center;
    }
    .first-block__text{
        text-align: center;
    }
}

/* ------------------------------------------------ */
.second-block__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.second-block__col-one{
    display: flex;
    flex-direction: column;
    align-items:center
}
.second-block__title{
    color: #316099;
    margin-bottom: 158px;
    max-width: 365px;
}
.second-block__one-card{
    margin-left: 80px;
    margin-bottom: 100px;
}

.second-title{
    font-family: 'Gilroy';
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.second-text{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    max-height: 525px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 0px 48px 48px 48px;
}
.card__one-img{
    margin-top: 48px;
}

.card-img{
    margin-bottom: 56px;
}

.card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.card__title{
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 16px;
}
.card__text{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 32px;
}
.card__link{
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}
.card__link:after {
    content: url('../img/Vector.svg'); 
    position: relative;
    top: 5px;
    margin-left: 24px;
}
.card__link:hover{
    color: #1F3F68;
}
.second-block__two-card{
    margin-bottom: 100px;
}

.card__three-img{
    margin-top: 48px;
}

/*--- TABLET--- */
@media (max-width: 991.98px){
    .second-block__title{
        max-width: 335px;
    }
    .second-title{
        font-size: 28px;
    }
    .second-block__one-card{
        margin-left: 0px;
    }
    .card{
        max-width: 350px;
    }
}
/*--- MOBILE--- */
@media (max-width: 767.98px){
    .second-block__title{
        max-width: 90%;
        text-align: center;
        margin-bottom: 40px;
    }
    .second-block__row{
        justify-content: center;
    }
    .card{
        max-width: 390px;
    }
}

/* --------------------------------- */
.third-block__content{
    margin-top: 192px;
}
.third-block__info{
    display: flex;
    align-content: center;
}
.info__title{
    color: #1F3F68;
    max-width: 235px;
}
.info__text{
    color: #1F3F68;
    opacity: 0.6;
    margin-left: 85px;
    max-width: 540px;
}
.third-block__main-img{
    width: 100%;
    margin-top: 95px;
    position: relative;
    text-align: right;
    transition: 1s; 
}
.third-block__main-img:hover{
    transform: scale(1.1);
}
.third-img{
    width: 100%;
}
.third-block__descr-main{
    position: absolute;
    top: 48px;
    right: 48px;
}
.third-block__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
}
.third-block__img{
    position: relative;
    text-align: left;
    transition: 1s; 
}
.third-block__img:hover{
    transform: scale(1.1)
}
.third-block__descr-two{
    position: absolute;
    top: 24px;
    left: 32px;
}
.third-block__title-img{
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-weight: 500;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.third-block__text-img{
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
}

/*--- TABLET--- */
@media (max-width: 991.98px){
    .third-block__content{
        margin-top: 110px;
    }
    .info__title{
        max-width: 265px;
    }
    .info__text{
        margin-left: 15px;
        max-width: 500px;
    }
    .third-block__row{
        margin-top: 75px;
    }
    .third-block__main-img{
        margin-top: 75px;
    }
    .third-block__img{
        max-width: 45%;
    }
}
/*--- MOBILE--- */
@media (max-width: 767.98px){
    .third-block__info{
        flex-wrap: wrap;
        justify-content: center;
    }
    .info__title{
        max-width: 90%;
        margin-bottom: 20px;
        text-align: center;
    }
    .info__text{
        margin-left: 0px;
        max-width: 90%;
        text-align: center;
    }
    .third-block__main-img{
        margin-top: 45px;
    }
    .third-block__row{
        justify-content: center;
        margin-top: 45px;
    }
    .third-block__img{
        max-width: 100%;
    }
    .third-block__img:first-child{
        margin-bottom: 45px;
    }
}

/* ------------------------------- */
.fourth-block{
    position: relative;
}
.fourth-block::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 1572px;
    left: 0;
    top: 0;
    z-index: -3;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
}
.fourth-block__content{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 190px;
}
.fourth-block__info{
    padding-top: 96px;
    display: flex;
    align-content: center;
}
.fourth-title{
    max-width: 235px;
}
.fourth-text{
    max-width: 540px;
    margin-left: 85px;
}

.info__title-white{
    color: #FFFFFF;
}
.info__text-white{
    color: #FFFFFF;
    opacity: 0.6;
}

.client{
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
    margin-bottom: 125px;
}
.client__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 128px;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color:  #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    border-right: 1px solid #FFFFFF;
}
.one{
    border-bottom: 1px solid #FFFFFF;
}
.two{
    border-bottom: 1px solid #FFFFFF;
}
.three{
    border-bottom: 1px solid #FFFFFF;
}
.four{
    border-bottom: 1px solid #FFFFFF;
    border-right: none;
}
.client__item:last-child{
    text-transform: none;
    background: #4E86BB;
    border-right: none;
    cursor: pointer;
}
.client__link{
    color:  #FFFFFF;
}
.client__item:last-child:hover{
    background: #316099;
    transition: 0.5s;
}

/*--- TABLET--- */
@media (max-width: 991.98px){
    .fourth-block__content{
        margin-top: 100px;
    }
    .fourth-title{
        max-width: 265px;
    }
    .fourth-text{
        margin-left: 15px;
        max-width: 500px;
    }
    .client{
        margin-top: 60px;
        margin-bottom: 65px;
    }
    .three{
        border-right: none;
    }
    .four{
        border-right: 1px solid #FFFFFF;
    }
    .five{
        border-bottom: 1px solid #FFFFFF;
    }
    .six{
        border-right: none;
        border-bottom: 1px solid #FFFFFF;
    }
}
/*--- MOBILE--- */
@media (max-width: 767.98px){
    .fourth-block__content{
        margin-top: 60px;
    }
    .fourth-block__info{
        padding-top: 56px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fourth-title{
        text-align: center;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .fourth-text{
        text-align: center;
        max-width: 100%px;
        margin-left: 0px;
    }
    .client{
        max-width: 70%;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 45px;
    }
    .two{
        border-right: none;
    }
    .three{
        border-right: 1px solid #FFFFFF;
    }
    .four{
        border-right: none;
    }
}

/* ---------------footer----------------------- */
.footer__case{
    max-width: 1196px;
    margin: 0px auto;
    padding: 0px 15px;
    position: relative;
}
.footer__line{
    position: absolute;
    top: 45%;
    right: 197px;
    width: 100vw;
    height: 1px;
    background-color: #FFFFFF;
}
.footer__case::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -2;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
}
.footer__first{
    padding-top: 90px;
    margin-bottom: 193px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer__info{
    max-width: 460px;
    margin-right: 180px;
}
.info-title{
    margin-bottom: 32px;
}
.footer__button{
    display: block;
    width: 230px;
    height: 56px;
    background: #5A98D0;
    border-radius: 10px;
    padding: 15px 75px;
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.footer__button:hover{
    filter: drop-shadow(8px 8px 9px rgba(0, 0, 0, 0.25));
    transition: 0.5s;
}

.footer__row{
    display: flex;
    flex-wrap: wrap;
}
.col-one{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: 100px;
}
.col-one__header{
    display: flex;
    align-items:center;
    margin-bottom: 32px;
}
.col-one__title{
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-weight: 600;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 16px;
}
.col-one__item{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.text-a::before{
    content: "A.";
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 15px;
}
.tel::before{
    content: "T.";
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 15px;
}
.mail::before{
    content: "E.";
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 15px;
}
a.col-one__item:hover{
    color: #5A98D0;
}

.footer__col-two{
    margin-right: 77px;
}
.col-two__title{
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 32px
}
.col-two__item{
    margin-bottom: 16px
}
.col-two__link{
    font-family: 'Gilroy';
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.col-two__link:hover{
    color: #5A98D0;
}
.footer__text{
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding: 64px 0px;
}

/*--- TABLET--- */
@media (max-width: 991.98px){
    .footer__line{
        top: 50%;
    }
    .footer__button{
        margin-top: 32px;
    }
    .col-one{
        margin-right: 15px;
    }
}
/*--- MOBILE--- */
@media (max-width: 767.98px){
    .footer__line{
        top: 37%;
    }
    .footer__first{
        padding-top: 40px;
        margin-bottom: 123px;
        justify-content: center;
    }
    .footer__info{
        max-width: 100%;
        margin-right: 0px;
        text-align: center;
    }
    .info-title{
        text-align: center;
        margin-bottom: 32px;
    }
    
}